VITE_API_BASE_URL=http://localhost:8000/

# Authentification
VITE_AUTH=accounts/auth/login/#{id}

# Question
VITE_CREATE_QUESTION=quizzes/questions/create-full/
VITE_CRUD_QUESTION=/quizzes/crud/questions/
VITE_TYPE_QUESTION=/quizzes/crud/types-questions/
VITE_BAREME=/quizzes/crud/baremes/

# Quiz
VITE_CRUD_QUIZ=/quizzes/crud/quizzes/

# Formation
VITE_CRUD_FORMATION=quizzes/crud/formations/