# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environments
venv/
env/
.venv/
Pipfile.lock

# Environment Variables
.env
.env.local

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db